*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.logo img{
width: 100%;
height: 13vw;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.title{
    font-size: 2.2rem;
    color: #000;
    margin-bottom: 1vw;

}
.input-field{
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 6.5vw;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}
select{
  border: none;
  width: 100%;
  background-color: #f0f0f0;
}
.input-field i{
    text-align: center;
    line-height: 6.5vw;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
}
.input-field input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}
.input-field textarea{
    background: none;
    outline: none;
    border: none;
    line-height: 2.5;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.input-field input::placeholder{
    color: #aaa;
    font-weight: 500;
}
.input-field textarea::placeholder{
    color: #aaa;
    font-weight: 500;
}

.btn{
    width: 15vw;
    background-color: #1f8aaa;
    border: none;
    outline: none;
    height: 4.9vw;
    border-radius: 4.9vw;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 1vw 0;
    cursor: pointer;
    transition: 0.5s;
}
.btn-hover{
    background-color: white;
    color: black;
}
h3{
    color: #1f8aaa;
    width: 152%;
    margin: auto;
}

@media (max-width:550px) {
 .input-field{
     height: 14.5vw;
     width: 145%;
 } 
 .input-field i {
    text-align: center;
    line-height: 14.5vw;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
}
h3 {
    width: 152%;
    margin: auto;
    margin-left: -64px;
}
h3 {
    justify-content: center;
    text-align: left;
    width: 186%;
    /* width: 152%; */
    /* margin: auto; */
    margin-left: -64px;
}
h2{
    width: 112%;
}

.btn {
    width: 37vw;
    background-color: #4d84e2;
    border: none;
    outline: none;
    height: 12.9vw;
    border-radius: 4.9vw;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 1vw 0;
    cursor: pointer;
}
}














